
* {
    text-align: left;
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
  }
  
#containerheaderphoto{
    background-color: #666666;
    color: white;
    text-align: center;
    width:20%;
}

#containerbody{
    
    width:80%;
}


.img1 {
width: 50%;
}


.img2 {
    width: 30%;
    }

    footer {
        text-align: center;
        padding: 35px;  
        
        background:#ebebeb;
        color: #ffffff;border-top-color: #4aaaa5;
        background-color: #666666;
        font-size: 6px;
        border-top-style:solid; 
        border-top-width: 6px;
        margin-top: 10px;
    
    }