/**
 * Float Layout Activity
 * Luiz Oliveira
 **/

* {
  box-sizing: border-box;
  box
  text-align: left;

  font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  
}

h1,h2,h3,h4,h5,h6 { font-style: 'Georgia', Times, 'Times New Roman', serif;}

body {
  color: #777;

  font-size: 18px;
  text-align: center;   
  width: 960px;  
}

header {
  padding: 25px;  
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  background: white;
  
  
}
h1{
    color: #4aaaa5;
    font-size: 24px;
  
}
nav{
    padding: 35px;  
    margin-top: 1%;
    background: floralwhite;
}

#section {
    margin-top: 1%;
    background: #777;
} 

#aside_left{
    float: left;

    
    margin-top: 1%;
    background: floralwhite;
    }

#sectionArticle {  

    padding: 20px;
    height: 500px;
    font-size: 20px;

    color: floralwhite;
    background:floralwhite;
   
    text-align: left;
}  
#smallpicture{
    width: 70px;
    
}
#sectionH1 {
    float: left;
    padding: 20px;  
    margin-right: 0;
    margin-left: 0;
    background: floralwhite;
}  

#sectionParagraph{
    margin-right: 0%;
    margin-left: -2%;
    margin-top: 2%;
    color: #777;
    
    background-color: #ffffff;
    background:floralwhite;
}

footer {
    text-align: center;
    padding: 35px;  
    
    background:#ebebeb;
    color: #ffffff;border-top-color: #4aaaa5;
    background-color: #666666;
    font-size: 6px;
    border-top-style:solid; 
    border-top-width: 6px;

}



#sectionhead {
    height: 30px;
    margin-top: 0%;
} 

#aside_lefthead{
    float: left;
    width: 20%;
    height: 75px;
    margin-top: -20px;
    margin-left: 0%;
    background: #4aaaa5;
    text-align: left;
    color: #ffffff;
    font-size: 24px;
}

#aside_righthead {

    float: right;
    width: 64%;
    height: 70px;
    margin-top: -20px;
    margin-right: 2%;
    text-align: right;
   }

#sectionArticlehead {  
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    
    background: #777;
}  

#sectionH1head {
    padding: 5px;  
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    color:#4aaaa5;
    background: #ebebeb;
}  
#menutop{
    font-size: 20px;
    box-align: right;
}