/* Luiz Oliveira CSS for Bootcamo homeworks
   License: none (public domain)
*/

#topcaption{
	float: left;
	width=30%;
	margin-left: 20px;
	margin-top: 20px;
	padding: 30px;
	color: #ffffff;
	background-color: #4aaaa5;

}
#topmenu{
	float: right;
	width: 70%;
	align-content: space-between;
	
	margin-right: 20px;
	margin-top: 20px;
	font-size: 20px;
	padding: 30px;
}
/*
#content{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;	

}
*/
li{
	font-size: 20px;

}
footer{
	background-color: #666666;
	padding: 40px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 20px;
	text-align: center;
	vertical-align: text-bottom;
	border-top: 20px;
	border-top-color: #666666;

}
#cpr{
	background-color: #666666;
	color: #ffffff;
	margin-bottom: -40px;
}
